{% extends "nav.html" %}

{% block content %}

    <div class="container marketing">
    <div class="jumbotron">
      <div class="container">
        <h1 class="text-center">The Abby Tapes</h1>
      </div>
    </div> <!-- div jumbotron -->
    <h1 class="page-header text-center">The Players</h1>
    <div class="row">
      {% for p in row1 %}

        <div class="col-lg-4">

          <a href="/player-{{p["name"]}}"><img class="img-circle"                   
                  src="http://s3.amazonaws.com/fico_pics/{{p["name"]}}-head.jpg" 
                  data-src="http://s3.amazonaws.com/fico_pics/{{p["name"]}}-head.jpg" 
                  alt="Generic placeholder image"></a>

          <h2>{{p["name"]|capitalize}}</h2>
          <p>{{p["desc"]}}</p>
          <p><a class="btn btn-default" 
                  href="/player-{{p["name"]}}">Player page&raquo;</a></p>

        </div>
      
      {% endfor %}
    </div>

    <div class="row">
      {% for p in row2 %}
        <div class="col-lg-4">
         
          <a href="/player-{{p["name"]}}"><img  class="img-circle" 
                  src="http://s3.amazonaws.com/fico_pics/{{p["name"]}}-head.jpg" 
                  data-src="http://s3.amazonaws.com/fico_pics/{{p["name"]}}-head.jpg" 
                  alt="Generic placeholder image"></a>

          <h2>{{p["name"]|capitalize}}</h2>
          <p>{{p["desc"]}}</p>
          <p><a class="btn btn-default" href="/player-{{p["name"]}}">Player page&raquo;</a></p>

        </div>
      
      {% endfor %}

    </div>
    

      {% for place in places %}
          <hr class="featurette-divider">
          <br>
        <div class="row featurette" id="{{place["link"]}}">
        <div class="col-md-7">
          <h2 class="featurette-heading">{{place["location"]}} <span class="text-muted">{{place["sub_head"]}}</span></h2>
          <p class="lead">{{place["desc"]}} </p>
          <div class="col-md-6">
          {% if place["_id"] == 8 or place["_id"] == 9 %}
            {% if place["_id"] == 8 %}
              <p><a class="btn btn-default" href="/video-{{place["link"]}}">Go to Video &raquo;</a></p>  
            {% else %}
              <p><a class="btn btn-default" href="/video-{{place["link"]}}">Go to Video &raquo;</a></p>  
            {% endif %}
          {% else %}
            <p><a class="btn btn-default" href="/{{place["link"]}}">Go to Video &raquo;</a></p>
          {% endif %}
          </div>
          <div class="col-md-6">
            {% if place["location"] == "South Africa" %}
              <p><a class="btn btn-default" href="http://www.ficociellofamily.com/South-Africa">Go to Pics &raquo;</a></p>
            {% endif %}
          </div>
        </div>

        <div class="col-md-5">
          <img class="featurette-image polaroids img-responsive" src="{{place["img"]}}"  alt="Generic placeholder image">
        </div>

      </div>

      <hr class="featurette-divider">
      {% endfor %}




      <hr>
      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; Ficociello Productions &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>

    </div><!-- /.container -->


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-45719020-1', 'southafrica2001.com');
  ga('send', 'pageview');

</script>
{% endblock %}
